/*geral */
body {
    box-sizing: border-box;
    background-color: #e5e5e5;
    font-family: 'Roboto', sans-serif;
}

/* header / nav */
nav {
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #dbdbdb;
}

nav img {
    width: 103px;
    height: 29px;
}

nav ion-icon {
    font-size: 22px;
    margin: 10px;
}

/* storys */

.stories {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #dbdbdb;
    overflow: hidden;
}

.story {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 24px;
    padding: 17px 0;
}

.thumbnail {
    width: 66px;
    height: 66px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../img/vetores/stories_background.jpg);
    background-size: cover;
    border-radius: 50%;
}

.story img {
    width: 56px;
    height: 56px;
    border-radius: 50%;
}

.story span {
    font-size: 12px;
    font-weight: 400;
}

.stories_setinha {
    display: none;
}

/* posts */

.posts {
    margin-bottom: 60px;
}

.post {
    background-color: #ffffff;
    border: 1px solid #dbdbdb;
    margin-bottom: 60px;
}

.post_titulo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;
}

.post_titulo_usuario {
    display: flex;
    align-items: center;
}

.post_titulo span {
    font-size: 14px;
    font-weight: 500;
}

.post_titulo img {
    width: 32px;
    height: 32px;
    margin: 0 10px;
    border-radius: 50%;
}

.post_titulo ion-icon {
    margin-right: 0 10px;
}

.post_imagem {
    width: 100%;
}

.post_botoes {
    display: flex;
    justify-content: space-between;
    margin: 0 10px;
}

.post_botoes ion-icon {
    margin-top: 5px;
    padding-right: 10px;
    font-size: 22px;
}

.post_curtidas {
    margin: 5px 10px;
    align-items: center;
    display: flex;
}

.post_curtidas img {
    width: 20px;
    height: 20px;
    border-radius: 50%;
}

.post_curtidas span {
    font-size: 14px;
    font-weight: 500px;
    padding: 0 5px;
}

.post_legenda {
    font-size: 14px;
    font-weight: 500px;
    margin: 0 10px;
    margin-bottom: 5px;
}

.post_legenda b {
    font-weight: 700;
}

.post_legenda_comentarios {
    margin-top: 5px;
    font-weight: 500;
    color: darkgray;
}

footer {
    font-size: 22px;
    background-color: #ffffff;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 54px ;
}

@media screen and (min-width: 614px) {

    .stories {
        margin: 24px auto;
        width: 614px;
        border: 1px solid #dbdbdb;
        border-radius: 3px;
        background-color: #ffffff;
        position: relative;
    }

    .stories_setinha {
        display: block;
        position: absolute;
        right: 15px;
        color: #ffffff;

        font-size: 36px;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    }

    .feed {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .posts {
        width: 614px;
    }

    footer {
        display: none;
    }
}